/* Container holding everything */
.hero-container {
  position: relative;
  display: none; /* Hidden by default */
}

/* Display the hero section only on extra-large screens (1200px or wider) */
@media (min-width: 1200px) {
  .hero-container {
    display: flex;
  }
}

/* Background shape that will be positioned absolutely */
.bg-shape {
  position: absolute;
  top: -15px;
  width: 500px;
  height: 500px;
  background-image: url('../public/Icons/shape-2-dark.png'); /* SVG file */
  background-repeat: no-repeat;
}

/* Container for the image */
.dev-img-container {
  position: relative;
  width: 510px;
  height: 462px;
  background-image: url('../public/Icons/shape-1.png');
  background-position: bottom;
  background-repeat: no-repeat;
}

/* Developer image */
.dev-img {
  position: absolute;
  width: 90%;
  height: 90%;
  object-fit: contain;
  border-radius: 40%;
  top: 10px;
  left: 20px;
}
